@media (max-width: 575.98px) { 

.fa-bars {
    color: white;
  }

  .banner_slide_item {
    padding: 250px 0 !important;
  }
  .banner_item {
    top: 150px !important;
  }
  
  #banner h1 {
    font-size: 43px !important;
    padding-bottom: 10px !important;
  }
  
  #banner h3 {
    font-size: 22px !important;
    padding-bottom: 35px !important;
  }
  
  #banner a {
    font-size: 13px !important;
  }
  
  #service {
    padding: 30px 0 0 0 !important;
  }
  
  #service .service_header {
    padding-bottom: 30px !important;
  }
  
  .service_item {
    padding-bottom: 30px !important;
  }
  
  #who .who_item {
    padding: 30px 0 !important;
  }
  
  #who h3 {
    padding-bottom: 20px !important;
  }
  
  .who_item span {
    padding-bottom: 30px!important;
  }
  
  #work p {
    font-size: 14px!important;
  }
  
  #work {
    padding: 30px 0 !important;
  }
  
 
  
  .testimonial_header {
    padding-bottom: 30px!important;
  }
  
  #testimonial {
    padding-bottom: 30px !important;
  }
  
  .footer_bottom p {
    padding-bottom: 7px!important;
  }
  
  
  i.fa-solid:nth-child(3) {
    display: none!important;
  }
  
  
  i.fa-solid:nth-child(2) {
    display: none!important;
  }
  
  
  #slick-slide-control01 {
    display: none !important;
  }
  
  
  .footer_logo {
    padding-bottom: 30px !important;
  }
  
  
  .footer_Contact {
    padding-bottom: 30px !important;
  }
  
  
  .footer_Latest {
    padding-bottom: 30px !important;
  }
  
  
  .footer_bottom_sm {
    text-align: center !important;
  }
  
  .text-end {
    text-align: center !important;
  }
.testimonial_main {
    margin: 0 !important;
  }

  .button_bn {
    flex-wrap: wrap;
  }
  .footer_icon_bottom{
    display: flex;
    justify-content: center !important;
    gap: 20px;
  }

 }


 @media (max-width: 767.98px) { 

.fa-bars {
    color: #ffff;
  }
  
#banner .next {
    left: 0% !important;
  }
  
  #banner .prev {
    right: 0% !important;
  }
  .who_item {
    padding: 30px 0;
   }
.footer_logo {
    padding-bottom: 30px;
  }
  .footer_Latest {
    padding-bottom: 30px;
  }
  


  }


  @media (max-width: 991.98px) { 
    .fa-bars {
        color: #ffff;
      }
    #banner .next {
        left: 1% !important;
      }
      
      #banner .prev {
        right: 1% !important;
      }
      .who_item {
        padding: 30px 0;
       }

    .footer_logo {
        padding-bottom: 30px;
      }
      .footer_Latest {
        padding-bottom: 30px;
      }
   }

   @media (max-width: 1199.98px) { 
    #banner .next {
        left: 2% !important;
      }
      
      #banner .prev {
        right: 2% !important;
      }
      


 
  
  
  
  #who h3 {
    padding-bottom: 15px !important;
  }
  
  .who_item p {
    padding-bottom: 10px !important;
  }
  
  .who_item span {
    padding-bottom: 15px !important;
  }
  
    .who_item {
      padding: 20px 0 !important;
    }
   footer form input{
    width: 60%;
   }
  



    }